.cover__text {
  margin: 0 auto;
  max-width: 560px;
  grid-column: 1;
  grid-row: 1;
  align-self: center;
  justify-self: center;
  text-align: center;
  z-index: 1;
  color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 767px) {
  .cover__text {
    max-width: 288px;
  }
}
