.place__website {
  grid-area: website;
  max-width: 456px;
  align-self: self-end;
}

@media screen and (max-width: 767px) {
  .place__website {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .place__website {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .place__website {
    margin: auto;
  }
}
